.box1 {
  display: inline-block;
  background-color: blue;
  height: 96px;
  width: 96px;
}
.box2 {
  display: inline-block;
  background-color: goldenrod;
  height: 6rem;
  width: 6rem;
}

.box3 {
  display: inline-block;
  background-color: rgb(64, 118, 44);
  height: 6em;
  width: 6em;
}
.box4 {
  display: inline-block;
  background-color: blueviolet;
  height: 10vh;
  width: 10vh;
}
.containerprozent {
  width: 96px;
  height: 96px;
  background-color: rgb(251, 246, 246);
  display: inline-block;
}
.box5 {
  display: inline-block;
  background-color: brown;
  height: 100%;
  width: 100%;
}
.box6 {
  display: inline-block;
  background-color: rgba(13, 12, 9, 0.59);
  height: 5.2vw;
  width: 5.2vw;
}
